
.showList {
  position: relative;
  top: 6vh;
  height: 84vh;
  margin: auto;
  overflow-y: auto;
  max-height: calc(100% - 30%);
}

.showList > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  margin: 30px 50px;
}

.showList > li > p {
  margin: 0 15px;
  flex-grow: 1;
}